@import "./variables.scss";

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Notosans";
    src: url("../../assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "Robotosans";
    src: url("../../assets/fonts/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf");
}

// Utils

.margin-top-05 {
    margin-top: 0.5rem;
}

// Typography

.text {
    text-decoration: none;
    color: white;
}

.text-reduced {
    font-family: "Notosans";
}

.text-increased {
    font-family: "Robotosans";
}

.text-on-light {
    color: $letter-on-light-color;
}

.text-on-dark {
    color: $letter-on-dark-color;
}

.text-normal,
.link {
    @extend .text;
    @extend .text-reduced;
    @extend .text-on-light;
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.5rem;
}

.link:hover {
    cursor: pointer;
}

.heading {
    @extend .text;
    @extend .text-increased;
    @extend .text-on-light;
    font-weight: bold;
    line-height: 130%;
    margin: 0;
}

.heading-1 {
    @extend .heading;
    width: 100%;
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0.5rem 0;
    // border-bottom: solid 1px $heading-bottom-line;
}

.heading-2 {
    @extend .heading;
    font-size: 1.1rem;
}

.heading-3 {
    @extend .heading;
    font-size: 0.9rem;
}

.heading-4 {
    @extend .heading;
    font-size: 0.8rem;
}

@media(min-width: 960px) {
    .text-normal,
    .link {
        font-size: 1rem;
    }

    .heading-1 {
        font-size: 1.5rem;
    }

    .heading-2 {
        font-size: 1.3rem;
    }

    .heading-3 {
        font-size: 1.1rem;
    }

    .heading-4 {
        font-size: 0.9rem;
    }
}

// Buttons 

.button {
    @extend .text;
    @extend .text-increased;
    font-size: 1rem;
    padding: 0.7rem 1rem;
    font-weight: bold;
}

.button:focus {
    outline: none;
}

.button:hover {
    cursor: pointer;
    border: solid 1px $button-hover-border;
    font-weight: bold;
}

.button:disabled {
    @extend .text-on-dark;
    background-color: $button-disabled-bg;
}

.button:disabled:hover {
    cursor: not-allowed;
    border: solid 1px $button-border;
    font-weight: normal;
}

.button-default {
    @extend .button;
    @extend .text-on-light;
    background-color: $button-default-bg;
    border: solid 1px $button-border;
}

.button-submit {
    @extend .button;
    @extend .text-on-dark;
    background-color: $button-submit-bg;
    border: solid 1px $button-border;
    border-radius: 4px;
}

.button-cancel {
    @extend .button;
    @extend .text-on-dark;
    background-color: $button-cancel-bg;
    border: solid 1px $button-border;
}

.button-submit:hover {
    background-color: rgb(17, 17, 17);
}

.button-submit:hover,
.button-cancel:hover {
    @extend .text-on-light;
}

.button-alternative {
    @extend .button;
    @extend .text-on-dark;
    background-color: $button-alternative-bg;
    border: solid 1px $button-border;
}

.button-alternative:hover {
    @extend .text-on-light;
    background-color: $button-alternative-hover-bg;
}

.button-sm {
   font-size: 0.8rem;
   padding: 0.5rem 0.8rem;
}

.button-lg {
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
}

// Forms, labels and inputs

.form {
    width: $form-width;
    margin: $form-margin;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.input {
    @extend .text-normal;
    border: $input-border solid 0.1px;
    padding: $input-padding;
    margin: $input-margin;
    width: 100%;
}

.input[type="file"] {
    border: none;
}

textarea.input {
    resize: none;
    height: 100px;
}

select.input {
    // -webkit-appearance: none;  /* Remove estilo padrão do Chrome */   
    // -moz-appearance: none; /* Remove estilo padrão do FireFox */   
    // appearance: none; /* Remove estilo padrão do FireFox*/
    background: none;
}

.inputs-inline {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs-inline .input {
    width: auto;
}

.label-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    @extend .text-normal;
    font-weight: bold;
    margin: $label-margin;
}

.input-submit {
    @extend .button-submit;
    width: 100%;
    margin: $input-margin;
}

@media(min-width: 960px) {
    .inputs-inline {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .inputs-inline .input {
        width: 100%;
    }

    .label-input .input {
        width: auto;
    }
}

// Tables

.table {
    width: $table-width;
    border-collapse: collapse;
    margin: $table-margin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-row {
    background-color: $table-row-bg;
}

.table-row:nth-child(even) {
    background-color: $table-row-alternating-bg;
}

.table-cell {
    padding: 0.5rem;
    border: 1px solid $table-border;
}

.table-head {
    @extend .table-cell;
    @extend .heading-4;
    text-align: center;
    background-color: $table-head-bg;
}

.table-data {
    @extend .table-cell;
    @extend .text-normal;
}

// Tabs

.tabs-container {
    width: 100%;
    margin: $tabs-container-margin;
}

.tabs-heads {
    width: 100%;
    display: flex;
    border-bottom: solid 1px $tabs-heads-border;
}

.tab-head {
    @extend .heading-4;
    padding: 0.7rem 1rem;
}

.tab-head:hover {
    cursor: pointer;
}

.tab-head--selected {
    @extend .text-on-dark;
    background-color: $tab-head-selected-bg;
}

.tab-head--selected:hover {
    cursor: default;
}

.tabs-contents {
    width: 100%;
}

.tab-content {
    @extend .text-normal;
    padding: 1.5rem 1rem;
    display: none;
}

.tab-content--selected {
    display: block !important;
}

// Accordions

.accordions-container {
    width: $accordions-container-width;
    margin: $accordions-container-margin;
    display: flex;
    flex-direction: column;
}

.accordion {
    @extend .accordions-container;
    margin: 0;
    width: 100%;
}

.accordion-head {
    background-color: $accordion-head-bg;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: space-between;
}

.accordion-head:hover,
.accordion-head--actived {
    cursor: pointer;
    background-color: $accordion-head-hover-bg;
}

.accordion-head-item {
    @extend .heading-4;
    margin: 0;
    padding: 0;
}

.accordion-content {
    @extend .text-normal;
    padding: 1.5rem 1rem;
    background-color: $accordion-content-bg;
    display: none;
}

.accordion-content--opened {
    display: block !important;
    animation: open-accordion 1s;
}

// Loading Icon
.loading-icon {
    width: 80px;
    height: 80px;
}

@keyframes open-accordion {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}