@import "../../global/styles/variables.scss";

.portfolio {
  min-height: $min-height;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5rem 0;
  background-color: black;
  color: white;

  h1 {
    width: 90%;
    text-align: left;
    margin: 2rem 0;
    color: white;
    // font-size: 3rem;
  }
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.portfolio-item {
  width: 100%;
  margin: 1rem 0;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border: solid 1px $button-default-bg;
    background-color: black;
  }
}

@media(min-width: 960px) {
  .portfolio {
    // height: 100vh;
    width: calc(100vw - 18vw);

    h1 {
      margin: 3rem 0;
    }
  }

  .portfolio-content {
    display: grid;
    grid-template-columns: repeat(3, 28%);
    gap: 2rem;
  }
  
  .portfolio-item {
    margin: 0;
    position: relative;

    div {
      display: none;
    }
  }

  .portfolio-item-text {
    display: flex !important;
    background-color: $text-backdrop;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1px $text-backdrop;
    animation: show-item-text 0.5s;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p, h3 {
      color: white;
      width: 90%;
    }

    p {
      margin-bottom: 1rem;
      font-size: 0.8rem;
    }
  }

  @keyframes show-item-text {
    from {
      height: 0;
    }

    to {
      height: 100%;
    }
  }

}
