@import "../../global/styles/variables.scss";

.components-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.components {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.components-item {
    display: flex;
    flex-direction: column;
}