@import "../../global/styles/variables.scss";

.footerbar {
  height: $footer-height;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 0.7rem 0;
  margin: 5rem 0;
  
  p {
    font-size: 0.9rem;
    color: $button-disabled-bg;
  }
}

@media(min-width: 960px) {
  .footerbar {
    width: calc(100vw - 18vw);
  }
}
