@import "../../global/styles/variables.scss";

.home {
  height: $min-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  font-family: 'Roboto Serif', sans-serif;
  h1 {
    width: 90%;
    font-weight: 900;
    font-size: 3rem;
    color: white;
  }
}

.home-text {
  width: 90%;

  p {
    color: $button-disabled-bg;
    margin: 3rem 0;
    font-size: 1.1rem;
  }
}

@media(min-width: 960px) {
  .home {
    height: 100vh;
  
    h1 {
      width: 40%;
    }
  }
  
  .home-text {
    width: 40%;
  }
}
