@import "../../global/styles/variables.scss";

.contact {
  // min-height: $min-height;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5rem 0;
  background-color: black;

  h1 {
    width: 90%;
    text-align: left;
    margin: 2rem 0;
    // font-size: 3rem;
  }
}

.contact-content {
  width: 90%;

  a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    border-bottom: solid 5px transparent;
  }

  a:hover {
    border-bottom: solid 5px $tex-hover-color;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
    color: $button-disabled-bg;
  }
}

.emailcontato {
  color: blue;
}

.contact-icon {
  height: 80px;
  fill: $tex-hover-color;
}

@media(min-width: 960px) {
  .contact {
    min-height: 70vh;
    width: calc(100vw - 18vw);

    h1 {
      margin: 3rem 0;
    }
  }

  .contact-content {
    width: 60%;
    display: flex;
    justify-content: space-around;
  
    a {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 4rem 0;
      border-bottom: solid 5px transparent;
    }
  
    a:hover {
      border-bottom: solid 5px $tex-hover-color;
    }
  
    h3 {
      text-align: center;
    }
  
    p {
      text-align: center;
      color: $button-disabled-bg;
    }
  }
    .emailcontato {
      color: blue;

    }
}
