@import "../../global/styles/variables.scss";

.experience {
  min-height: $min-height;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5rem 0;
  background-color: black;
  color: white;

  h1 {
    width: 90%;
    text-align: left;
    margin: 2rem 0;
    background-color: black;
    color: white;
    // font-size: 3rem;
  }
}

.experience-list {
  width: 90%;
  list-style: none;
  padding: 0;
  background-color: black;
  color: white;

  p {
    color: $button-disabled-bg;
  }
}

.experience-item {
  // height: 20vh;
  position: relative;
  padding: 0 0 3rem 3rem;
  background-color: black;
  color: white;

  .line {
    position: absolute;
    top: 0.7rem;
    left: 0;
    color: $tex-hover-color;
    font-size: 2rem;
    width: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    line-height: 0;
    z-index: 1;

    div {
      height: 100%;
      width: 0.5px;
      background-color: $button-default-bg;
      position: relative;
      z-index: -1;
    }
  }

  .period {
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    background-color: black;
    color: white;
  }

  .title {
    margin: 0.3rem 0;
    background-color: black;
    color: white;
  }

  .description {
    margin: 1rem 0;
  }
}

.experience-item.last-mobile {
  padding-bottom: 0;
}

@media(min-width: 960px) {
  .experience {
    // height: 100vh;
    width: calc(100vw - 18vw);

    h1 {
      margin: 3rem 0;
    }
  }
  
  .experience-list {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    height: 100%;

    #experience-1 {
      grid-row-start: 1;
      grid-column-start: 1;
    }

    #experience-2 {
      grid-row-start: 2;
      grid-column-start: 1;
    }

    #experience-3 {
      grid-row-start: 1;
      grid-column-start: 2;
    }

    #experience-4 {
      grid-row-start: 2;
      grid-column-start: 2;
    }
  }

  .experience-item {
    min-height: 35%;
  }

  .experience-item.last-desktop {
    padding: 0 0 0 3rem;
  }
}
